<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<httpRequestBegin>
				<processor patch:before="*[@type='Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel']" type="SCExtranet.Core.Pipelines.HttpRequest.ExtranetSecurityResolver, SCExtranet.Core" />
			</httpRequestBegin>
		</pipelines>
		<scextranet>
			<formText providerType="SCExtranet.Core.Utility.FormText.DefaultFormTextProvider"></formText>
		</scextranet>
		<ui>
			<references>
				<reference comment="Genzyme">/bin/SCExtranet.Core.dll</reference>
			</references>
		</ui>
	</sitecore>
</configuration>
