<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<httpRequestBegin>
				<processor patch:before="*[@type='Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel']" type="SCExtranet.Lib.Pipelines.HttpRequest.ExtranetSecurityResolver, SCExtranetLib" />
			</httpRequestBegin>
		</pipelines>
		<extranet providerType="SCExtranet.Lib.FormTextUtility">
			<setting name="SCExtranet.Login.Welcome" value="Welcome"></setting>
			<setting name="SCExtranet." value=""></setting>
			<setting name="SCExtranet." value=""></setting>
			<setting name="SCExtranet." value=""></setting>
			<setting name="SCExtranet." value=""></setting>
			<setting name="SCExtranet." value=""></setting>
			<setting name="SCExtranet." value=""></setting>
			<setting name="SCExtranet." value=""></setting>
			<setting name="SCExtranet." value=""></setting>	
		</extranet>
	</sitecore>
</configuration>
