<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<httpRequestBegin>
				<processor patch:before="*[@type='Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel']" type="SCExtranet.Lib.Pipelines.HttpRequest.ExtranetSecurityResolver, SCExtranetLib" />
			</httpRequestBegin>
		</pipelines>
		<extranet providerType="SCExtranet.Lib.Utility.FormText.DefaultFormTextProvider">
			<formText>
				<setting name="SCExtranet.Login.Welcome" value="Welcome"></setting>
				<setting name="SCExtranet." value=""></setting>
				<setting name="SCExtranet." value=""></setting>
				<setting name="SCExtranet." value=""></setting>
				<setting name="SCExtranet." value=""></setting>
				<setting name="SCExtranet." value=""></setting>
				<setting name="SCExtranet." value=""></setting>
				<setting name="SCExtranet." value=""></setting>
				<setting name="SCExtranet." value=""></setting>
			</formText>
			<pageTemplates>
				<setting name="EditAccountPage" value="EditAccountPage"></setting>
				<setting name="EditEmailPage" value="EditEmailPage"></setting>
				<setting name="EditPasswordPage" value="EditPasswordPage"></setting>
				<setting name="ExtranetFolder" value="ExtranetFolder"></setting>
				<setting name="ForgotPasswordPage" value="ForgotPasswordPage"></setting>
				<setting name="LoginPage" value="LoginPage"></setting>
				<setting name="RegisterPage" value="RegisterPage"></setting>
			</pageTemplates>
		</extranet>
	</sitecore>
</configuration>
